.img2 {
  width: 250px;
  height:  250px !important
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.m-left {
  margin-right: 120px !important;
  padding-top: 50px
}

.m-right {
  margin-left: 120px !important;
  padding-top: 50px
}

.m{
  padding-top: 50px
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}

.h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 0 !important;
  color: #8f989f;
  position: relative;
  display: block;
  padding-bottom: 0px !important;
}