/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/07/2017, 10:00:54 PM
    Author     : user
*/


#fh5co-services,
#fh5co-testimony,
#fh5co-explore,
#fh5co-faq,
#fh5co-team,
#fh5co-trusted,
#fh5co-footer,
#fh5co-work,
#fh5co-counters,
#fh5co-pricing,
#fh5co-blog {
  padding: 3em 0 2em 0 !important;
}

#msform{
    width: 350px;
    margin:50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset{
    background: rgba(0, 0, 0, 0.64);
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 15px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  
    position: absolute;
}

#msform fieldset:not(:first-of-type){
    display:none;
}

#msform input, #msform textarea{
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #730053;
    font-size: 13px;
}

#msform .action-button{
    width: 100%;
    background: #730053;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #730053;
}

.fs-title{
    font-size: 20px;
    text-transform: uppercase;
    color: #a01479;
    margin-bottom: 10px;
    font-weight: bold;
}

.fs-subtitle{
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

#progressbar{
    padding: 0;
    margin-bottom: 25px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li{
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: bold;
}

#progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after{
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after{
    content:none;
}

#progressbar li.active:before, #progressbar li.active:after{
    background: #730053;
    color:white;
}